.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

# vagrant data folder
data/
